nav .ManageNewGameTools {
    display: flex;
    gap: 20px;
    color: var(--secondary-color-darkblue);
}


.ManageNewGameTools select{
    background-color: var(--tirsiary-color-skyblue);
    color: var(--secondary-color-darkblue);
}