body{
    height: 100%;
    width: 100%;
    font-weight: 400;
    margin: 0;
    font-family: 'Bangers', cursive;
    /* object-fit: fill; */
    /* background-image: url(${process.env.PUBLIC_URL+ "/img/background-game.png"}); */
    /* background-image: "img/background-game.png"; */
    /* background-color: aqua; */
}

