body {
    margin: 0;
    font-family: 'Bangers', cursive;
    --main-color-yellow: #FDD723;
    --secondary-color-darkblue: #162739;
    --tirsiary-color-skyblue: #A2D6D4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
